<%content_for :title do%>View Master Bracket<%end%>
<h1 id="bracket_title">2019 College Basketball Bracket Challenge</h1>
<h2 id="master_bracket_title">MASTER BRACKET</h1>
<br>
<%= render "bracket" %>
