<%content_for :title do%>Home<%end%>
<h1> Create a college basketball tournament pool. </h1>
<h2>Invite your friends, co-workers and enemies.</h2>
<h2>Humiliate them with your outstanding basketball prowess.</h2>
<h2>Bask in the glory for a year.</h2>
<br>
  <p>
	<div>
		<a class="btn btn-primary btn-lg" href="/admins/sign_up" role="button" >Create your own college basketball tournament pool for $20</a> 
		<br><br>
		<a class="btn btn-secondary" href="/players/sign_in" role="button" >Sign in to an existing pool</a>
	</div>
	</p>

